extends layout

block content
   .container
     br
     if (user)
       p.lead Hi, #{user.first_name}!
       p You are currently logged in as : #{user.username} &nbsp; | &nbsp;
        a(href="/logout") Logout
        if(user.admin==true)
         br
         a(href="/addTutorial") Post a Tutorial
        if(user.guild=="Circuits Guild")
         a(href="/viewTutorialCircuits") View Tutorials
        if(user.guild=="Electronics Guild")
         a(href="/viewTutorialElectronics") View Tutorials
        if(user.guild=="Calculus Guild")
         a(href="/viewTutorialCalculus") View Tutorials
        if(user.guild=="DSP Guild")
         a(href="/viewTutorialDSP") View Tutorials