doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')
  block content
body(background='../images/brown.jpg')

   .container
    center
        h1 
         strong Register Page
        p.lead Let us help you on your Academics.
        form(role='form', action="/register",method="post", style='max-width: 300px;')
            h5.white 
              strong Username:
            input.form-control(type='text', name="username", placeholder='Enter Username' required='')
            h5.white 
              strong Firstname:
            input.form-control(type='text', name="firstname", placeholder='Enter First Name' required='')
            h5.white 
              strong Lastname:
            input.form-control(type='text', name="lastname", placeholder='Enter Last Name' required='')
            h5.white 
              strong Course Yr & Sec:
            input.form-control(type='text', name="course", placeholder='Enter course year-section' required='')
            h5.white 
              strong Password:
            input.form-control(type='password', name="password", placeholder='Password' required='')
            h5.white 
              strong Guild:
            p.control
                select.form-control(name='guild')
                  option Select Guild
                  option Electronics Guild
                  option Circuits Guild
                  option Calculus Guild
                  option DSP Guild
          button.btn.btn-primary(type='submit') Register
        br
        p Already have an account? &nbsp;
          a(href="/") Login
