extends index

block content
   #layout.content.pure-g
    #list.pure-u-1
      center
        h1.white Update Tutorial
        br
        form(role='form', action="/addTutorial", method="post", style='max-width: 300px;')
          br
          .form-group
            input.form-control(type='text', name="video", placeholder='Enter Embedded Url', value=post.video required='')
          br
          .form-group
            input.form-control(rows='5', placeholder="Enter Title", name='message', value=post.message required='')
          br

          button.btn.btn-primary(type='submit') Update

        form(action='/')
          p.control
          button.btn.btn-primary(type='submit') Cancel
        br