extends index

block content
   #layout.content.pure-g
    #list.pure-u-1
     .container
      .column
       table
        thead
         each tutorial, i in post
          tr
          .email-item.email-item-selected.pure-g
           .pure-u
            h5.email-name #{tutorial.first_name} #{tutorial.last_name} 
            h4
             a(href= "/viewTutorial/" + tutorial._id)= tutorial.message
            p.email-desc
              | #{tutorial.createdAt}